<p id="notice"><%= notice %></p>

<p><h2>
  <strong>Question:</strong>
  <%= @article.content %>
</p>
</h2>
<p>

  by <%= @article.name %>
</p>





<h3>Can you answer this open question?</h3>

<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area:content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>







  <% @article.responses.each do |response| %>

<p class="ridge">
  <%= response.email %>

</p>
<p>
  <%= response.name%><br>

  <%= simple_format response.content %>

   <br>
  <%= response.updated_at %>
</p>

  <% end %>









<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
